fastapi==0.115.9
uvicorn==0.34.2
python-dotenv==1.1.0
python-multipart==0.0.20
llama-index-core==0.12.37
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
chromadb==1.0.7
pypdf==5.6.0